

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    

}
.card{
    background-color:#000;
    width: 328px;
    height: 225px;
    border-radius: 20px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;
   
}
.card .item ul li{
    width: 100%;
    height: 55px;
    color: #fff;
    display: flex;
    align-items: center;
    float: left;
    gap: 10px;
    background-color: gray;
    border-radius: 10px;
}
.card .item .icone{
    background-color: black;
    padding: 5px 12px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight:500 ;
}
.card .item .conteudo{
    font-size: 20px;
    font-weight: 300;
}



